<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ret2retro</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400">
        <link rel="stylesheet" href="/static/css/style.css?v=2">
        <link rel="stylesheet" href="/static/css/fonts.css">
    </head>
    <body>
        <div class="page">
            <div class="page__inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="/static/js/app.js"></script>
    </body>
</html>