{% extends 'base.html' %}

{% block content %}
<section class="page-container">
    <div class="spring-top"></div>
    <div class="ctf-page-logo"></div>
    <div class="form-container">
        <div class="form-container__inner">
            <form class="form-upload" action="/" method="POST" enctype="multipart/form-data">
                <h2>Check your hackerness!</h2>
                <div>
                    <div class="form-description">Here you can learn the truth.</div>
                    <div class="form-description">Especially crafted neural network will tell you how real are you.</div>
                </div>
                <div class="form-input-container">
                    <div class="form-input-wrapper">
                        <div class="form-input-dnd">
                            <input type="file" name="image" id="input_file" class="form-input-file">
                            <label for="input_file" class="form-input-file-dnd input_file_label">
                                <strong>Upload or drag'n'drop</strong><br />
                                your or your team's photo, and get the result. <br/>
                                The score is determined with photos of true hackers in "mind"...
                            </label>
                        </div>
                    </div>
                    {% if errors and errors.image %}
                    <div class="form-input-errors">
                        {% for error in errors.image %}
                        <div class="form-input-error" >{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-input-container">
                    <div class="form-input-wrapper form-input-wrapper--end">
                        <button type="submit" class="form-input-button">Check your hackerness</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="spring"></div>
</section>
{% endblock %}